* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.icon {
  width: 130px;
  height: 130px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

img {
  width: 60%;
}

h1 {
  color: #00cec9;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 400;
  margin: .7rem;
}

p {
  
}