* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #efefef;
}

.shoe, .logo {
  display: none;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
}

.shoe-background {
  width: 50%;
  height: 475px;
  box-shadow: 
    -15px 0 35px rgba(0,0,0,0.1), 
    0 -15px 35px rgba(0,0,0,0.1),
    0 15px 35px rgba(0,0,0,0.1);
}

.info {
  width: 50%;
}